<!DOCTYPE html>
<html lang="en">
  <head>
    <title>NodeJS Example</title>
    <meta charset="utf-8">
    <meta name="description"  content="This is the about page">
    <meta name="author"       content="Tundra Fizz">
    <link rel="shortcut icon" href="/img/icon.jpg">
    <link rel="stylesheet"    href="/css/theme.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.0.2/jquery.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jqueryui/1.12.1/jquery-ui.min.js"></script>
  </head>

  <body>
    <div class="content">
      <form id="target">
        <table>
          <tr>
            <td>First Name</td>
            <td><input type="text" name="firstName" style="border: 2px solid transparent;"></td>
          </tr>
          <tr>
            <td>Last Name</td>
            <td><input type="text" name="lastName"></td>
          </tr>
          <tr>
            <td>Age</td>
            <td><input type="text" name="age"></td>
          </tr>
          <tr>
            <td colspan="2">
              <button type="button" onclick="SubmitForm();" >Submit</button>
            </td>
          </tr>
        </table>
      </form>

      <table id="results" border="1"></table>
    </div>
  </body>
</html>

<script>
$(document).ready(function(){
  var people = <%- JSON.stringify(people) %>;
  BuildTable(people);
});

function SubmitForm(event){
  var data = {};
  $("input").each(function(){
    // Validate data
    // $(this).addClass("glow-red");
    // $(this).animate({
    //   border: 2px solid transparent
    // }, 1000, function(){
    //   // Animation Complete
    // });
    $(this).animate({
      "border-color": "red"
    }, 500, "easeInQuad", function(){
      $(this).animate({
        "border-color": "transparent"
      }, 500, "easeOutQuad");
    });
    // $(this).animate({
    //   outlineColor: "red"
    // }, 1000, function(){
    //   // Animation complete.
    // });

    console.log($(this).parent());

    data[$(this).attr("name")] = $(this).val();
  });

  $.post("add-person", data, function(data){
    BuildTable(data);
  }, "json");
}

function BuildTable(data){
  var h = "<tr><th>First Name</th><th>Last Name</th><th>Age</th></tr>";
  $(data).each(function(i){
    h += "<tr><td>" + this.firstName + "</td><td>" + this.lastName + "</td><td>" + this.age + "</td></tr>";
  });
  $("#results").html(h);
}
</script>
