body {
  width:            100vw;
  height:           100vh;
  margin:           0;
  overflow:         hidden;
  background-color: black;
}

/* Default */
.testing {color: red;}

@media (min-width: 500px) {
  .testing {font-size: 16px;}
}

@media (max-width: 499px) {
  .testing {font-size: 8px;}
}

@media (orientation: landscape) {
  .testing {color: white;}
}

@media (orientation: portrait) {
  .testing {color: green;}
}
